<p>test2 works!</p>
<!-- angular2 multi select
    Auto select while edit 
    on select of one element deselct of other elemets
 -->

<div class="row">
    <div class="col-sm-4">
        <a class="dropdown-item" (click)="openEdit(item)" data-toggle="modal" data-target="#performance">
            <i class="fas fa-edit"></i>Edit</a>
    </div>
</div>


<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-4">
        <angular2-multiselect name="phase" [data]="phase" [(ngModel)]="selectedItems" [settings]="dropdownSettings"
            (onSelect)="onItemSelect($event)" (onDeSelectAll)="onDeSelectAll($event)">
        </angular2-multiselect>
    </div>
</div>