<p>task 1!</p>
<!-- angular2 multi select
    Auto select while edit 
    on select of one element deselct of other elemets
 -->

<div class="row">
    <div class="col-sm-4">
        <a class="dropdown-item" (click)="openEdit(item)" data-toggle="modal" data-target="#performance">
            <i class="fas fa-edit"></i>Edit</a>
    </div>
</div>
<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-4">
        <angular2-multiselect name="phase" [data]="phase" [(ngModel)]="selectedItems" [settings]="dropdownSettings"
            (onSelect)="onItemSelect($event)" (onDeSelectAll)="onDeSelectAll($event)">
        </angular2-multiselect>
    </div>
</div>

<p>task 2</p>

<!-- pattern which allows ? only -->
<!-- pattern="\S?(\S+\s?[a-z A-Z'_,;.?])*"   -->

<!-- <div class="form-group" [class.has-error]="questionValidate.invalid && questionValidate.touched">
    <label class="control-label field-required">Question</label>
    <textarea name="editQuestion" id="editQuestion" minlength="6"
        placeholder="Enter Question" rows="4" [(ngModel)]="editQuestion.question"
        [value]="editQuestion.question" class="form-control" #questionValidate="ngModel"
        pattern="\S?(\S+\s?[a-z A-Z'_,;.?])*" required></textarea>
    <span class="help-block text-danger" *ngIf="questionValidate.invalid && questionValidate.touched">
        <span *ngIf="questionValidate.errors.required">
            question is required
        </span>
        <span *ngIf="questionValidate.errors.minlength">
            question must be at least 6 characters long
        </span>
    </span>
</div> -->

<!-- pattern which allows @ only -->
<!-- pattern="\S?(\S+\s?[a-z A-Z'_,;.@])*"   -->
